.navbar.navbar-fixed-bottom
    .text-right.text-muted
        .container-fluid
            ul.list-inline
                li
                    a(href="/imprint", title="Impressum") Impressum
                li
                    a(href="http://www.budo-athletik-berleburg.de/training", title="Alle Trainingszeiten der Taekwondo Abteilung") Trainingszeiten
                    
